// Place all the styles related to the Impress controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* for all step divs within impress */
div.step { 
	width: 940px; 

	h1 {
  	 	font-size: 300%;
		 }

	p {
			font-size: 150%;
		 }
	li {
		font-size: 150%;
	}
}

div.gist {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

