<p><b>Left</b> and <b>Right</b> arrow keys move the slideshow</p>
<script type="text/javascript" src="../impress.js" ></script>

<div id="impress" >

	<div class="step" data-x="0" data-y="0" data-z="0" data-scale="4" data-rotate-x='0' data-rotate-y='0' data-rotate-z='0' >
		<h1>Deep Import</h1>
		<p>A Bulk Data Loading Gem For Rails and Active Record</p>
	</div>

	<div class="step" data-x="0" data-y="0" data-z="-500" data-scale=".1" data-rotate-x='0' data-rotate-y='0' data-rotate-z='0' >
		<h1>Simplicity</h1>
		<p>Use the syntax you already know</p>
	</div>

	<div class="step" data-x="4000" data-y="600" data-z="125" data-scale=".5" data-rotate-x='0' data-rotate-y='-90' data-rotate-z='0' >
		<h1>Standard Logic</h1>
		<div class="gist" >
			<script src="https://gist.github.com/smith11235/7174960.js"></script>
		</div>
	</div>

	<div class="step" data-x="5000" data-y="600" data-z="125" data-scale=".5" data-rotate-x='180' data-rotate-y='-90' data-rotate-z='0' >
		<h1>Now you have this</h1>
		<div class="gist" >
			<script src="https://gist.github.com/smith11235/7174731.js"></script>
		</div>
	</div>

</div>

