
<p><b>Left(back)</b> and <b>Right(forward)</b> arrow keys move the slideshow</p>
<script type="text/javascript" src="../impress.js" ></script>
<div id="impress" >
	
<div class='step' data-x='-719.1383079063045' data-y='-750.0' data-z='1316.3738428355591' data-scale='1' data-rotate-x='0' data-rotate-y='118.64788975654116' data-rotate-z='0' >
<h1>DeepImport</h1>

<p>A Bulk Data Loading Gem For Rails and Active Record</p>

<p><a href="https://github.com/smith11235/deep_import">Github</a></p>

<p><a href="https://gist.github.com/smith11235/7281601">Usage Example</a></p>
</div>
<div class='step' data-x='-1262.2064772118447' data-y='-1500.0' data-z='810.4534588022096' data-scale='1' data-rotate-x='0' data-rotate-y='147.29577951308232' data-rotate-z='0' >
<h1>Outline</h1>

<ul>
<li>Purpose </li>
<li>Usage</li>
<li>How It Works</li>
</ul>
</div>
<div class='step' data-x='-1496.2424799060816' data-y='-2250.0' data-z='106.10580250155436' data-scale='1' data-rotate-x='0' data-rotate-y='175.94366926962394' data-rotate-z='0' >
<h1>Purpose</h1>
</div>
<div class='step' data-x='-1363.9461402385225' data-y='-3000.0' data-z='-624.2202548207136' data-scale='1' data-rotate-x='0' data-rotate-y='155.40844097383535' data-rotate-z='0' >
<h1>Target Users</h1>

<p>Any Rails/ActiveRecord lovers with a need to efficiently ingest a lot of data</p>
</div>
<div class='step' data-x='-897.7082161559348' data-y='-3750.0' data-z='-1201.7154233204005' data-scale='1' data-rotate-x='0' data-rotate-y='126.76055121729422' data-rotate-z='0' >
<h1>Example Bulk Data</h1>

<script src="https://gist.github.com/smith11235/7281452.js"></script>
</div>
<div class='step' data-x='-211.6800120898008' data-y='-4500.0' data-z='-1484.988744900668' data-scale='1' data-rotate-x='0' data-rotate-y='98.11266146075303' data-rotate-z='0' >
<h1>Example Standard Import Logic</h1>

<script src="https://gist.github.com/smith11235/7281410.js"></script>
</div>
<div class='step' data-x='526.1748415344298' data-y='-5250.0' data-z='-1404.6850309361946' data-scale='1' data-rotate-x='0' data-rotate-y='69.46477170421188' data-rotate-z='0' >
<h1>problem</h1>

<p>Each call to <strong>save</strong> or <strong>create</strong> methods cause a transaction with the database.</p>

<p>Each trasaction has opening and closing costs.  </p>
</div>
<div class='step' data-x='1135.2037429618922' data-y='-6000.0' data-z='-980.4654312954179' data-scale='1' data-rotate-x='0' data-rotate-y='40.81688194767072' data-rotate-z='0' >
<h1>signifigance</h1>

<p>When commiting many model instances to a database transaction costs become non-trivial. </p>
</div>
<div class='step' data-x='1466.2951764976456' data-y='-6750.0' data-z='-316.19369914616954' data-scale='1' data-rotate-x='0' data-rotate-y='12.16899219112957' data-rotate-z='0' >
<h1>claim</h1>

<p>Deep Import can improve a load
* of <strong>27,930</strong> model instances
* from 90 <strong>minutes</strong> to 90 <strong>seconds</strong>
* by eliminating transaction costs</p>
</div>
<div class='step' data-x='1438.3864119947077' data-y='-7500.0' data-z='425.4932781948394' data-scale='1' data-rotate-x='0' data-rotate-y='16.478897565411607' data-rotate-z='0' >
<h1>why in Rails? (and ActiveRecord)</h1>

<ul>
<li>is this the path of least resistance?</li>
<li>aren't other tools built for bulk data?</li>
</ul>
</div>
<div class='step' data-x='1058.310488355588' data-y='-8250.0' data-z='1063.00466143689' data-scale='1' data-rotate-x='0' data-rotate-y='45.12678732195276' data-rotate-z='0' >
<h1>Yes, but rails and activerecord...</h1>

<ul>
<li>are super easy to use</li>
<li>provide helper logic like validations</li>
<li>are database and developer agnostic</li>
<li>fast to prototype and deliver</li>
</ul>
</div>
<div class='step' data-x='419.1232472983888' data-y='-9000.0' data-z='1440.2554299755489' data-scale='1' data-rotate-x='0' data-rotate-y='73.77467707849394' data-rotate-z='0' >
<h1>so my friend</h1>

<ul>
<li>why would you slow down by switching to non-rails</li>
</ul>
</div>
<div class='step' data-x='-322.67998213172325' data-y='-9750.0' data-z='1464.8814385920352' data-scale='1' data-rotate-x='0' data-rotate-y='102.4225668350351' data-rotate-z='0' >
<h1>DeepImport.import { }</h1>

<p><strong>When invoked</strong></p>

<ul>
<li>enhances the active record api on the Model classes

<ul>
<li>track all models instantiated and associations</li>
</ul></li>
<li>executes the user provided block of code</li>
<li>commits all instantiated models to the database

<ul>
<li><strong>within a single transaction</strong></li>
</ul></li>
</ul>
</div>
<div class='step' data-x='-985.4798980781836' data-y='-10500.0' data-z='1130.853381514957' data-scale='1' data-rotate-x='0' data-rotate-y='131.07045659157623' data-rotate-z='0' >
<h1>Example DeepImport.import call</h1>

<p><a href="example deep import load of yaml file">gist</a></p>
</div>
<div class='step' data-x='-1406.9999651621083' data-y='-11250.0' data-z='519.9529767525387' data-scale='1' data-rotate-x='0' data-rotate-y='159.71834634811742' data-rotate-z='0' >
<h1>Did you see the difference?</h1>

<ul>
<li>added DeepImport.import call</li>
<li>removed save calls
<a href="of code difference">vimdiff image</a> app/assets/images</li>
</ul>
</div>
<div class='step' data-x='-1484.0373699350728' data-y='-12000.0' data-z='-218.2500507129203' data-scale='1' data-rotate-x='0' data-rotate-y='171.63376389534156' data-rotate-z='0' >
<h1>Benchmark</h1>

<ul>
<li><strong>27,930</strong> models

<ul>
<li>to a remote mysql instance</li>
<li>across 3 associated model classes

<ul>
<li>30 Parents</li>
<li>900 Children</li>
<li>27,000 Grand Children</li>
</ul></li>
</ul></li>
</ul>
</div>
<div class='step' data-x='-1197.7306689352354' data-y='-12750.0' data-z='-903.0178540272354' data-scale='1' data-rotate-x='0' data-rotate-y='142.98587413880026' data-rotate-z='0' >
<h1>Benchmark Results</h1>

<p>Standard     90 <strong>minutes</strong>
Deep Import  90 <strong>seconds</strong></p>
</div>
<div class='step' data-x='-618.1777278626349' data-y='-13500.0' data-z='-1366.6953928270154' data-scale='1' data-rotate-x='0' data-rotate-y='114.33798438225911' data-rotate-z='0' >
<h1>Usage</h1>
</div>
<div class='step' data-x='112.72668069271396' data-y='-14250.0' data-z='-1495.7582342945677' data-scale='1' data-rotate-x='0' data-rotate-y='85.69009462571796' data-rotate-z='0' >
<h1>gist</h1>

<p><a href="https://gist.github.com/smith11235/7280752">Example Usage Gist</a></p>
</div>
<div class='step' data-x='816.0316663340546' data-y='-15000.0' data-z='-1258.6072936146786' data-scale='1' data-rotate-x='0' data-rotate-y='57.04220486917679' data-rotate-z='0' >
<h1>config/deep_import.yml</h1>

<ul>
<li>tells Deep Import which models to track</li>
<li>tells Deep Import which belongs_to associations to track</li>
</ul>
</div>
<div class='step' data-x='1319.543639957505' data-y='-15750.0' data-z='-713.3053919939888' data-scale='1' data-rotate-x='0' data-rotate-y='28.394315112635628' data-rotate-z='0' >
<h1>example config/deep_import.yml</h1>

<p>[gist]</p>
</div>
<div class='step' data-x='1499.9853098260553' data-y='-16500.0' data-z='6.638546982076178' data-scale='1' data-rotate-x='0' data-rotate-y='0.25357464390529205' data-rotate-z='0' >
<h1>rake deep_import:setup</h1>

<ul>
<li>generates a migration based on config file</li>
<li>executes migration to prepare database for deep import</li>
</ul>
</div>
<div class='step' data-x='1313.1782620326428' data-y='-17250.0' data-z='724.9571381295088' data-scale='1' data-rotate-x='0' data-rotate-y='28.90146440044669' data-rotate-z='0' >
<h1>DeepImport.import( options = {} ) { }</h1>

<ul>
<li>if a config file exists and setup has been run</li>
<li>just pass it a block that creates models</li>
</ul>
</div>
<div class='step' data-x='804.8593770006524' data-y='-18000.0' data-z='1265.7809380987383' data-scale='1' data-rotate-x='0' data-rotate-y='57.54935415698785' data-rotate-z='0' >
<h1>Import Options</h1>

<ul>
<li>a couple of options exist to tweak how active record is modified</li>
<li>generally to allow <em>non import code</em> to run as <em>import code</em>

<ul>
<li>makes development and debugging against subsets easy</li>
</ul></li>
<li>:on_save =&gt; :noop - allows code with 'save' to be executed

<ul>
<li>link a gist</li>
</ul></li>
</ul>
</div>
<div class='step' data-x='99.48284602680103' data-y='-18750.0' data-z='1496.6974187678709' data-scale='1' data-rotate-x='0' data-rotate-y='86.19724391352901' data-rotate-z='0' >
<h1>How it Works</h1>
</div>
<div class='step' data-x='-630.2505552399614' data-y='-19500.0' data-z='1361.1701721752943' data-scale='1' data-rotate-x='0' data-rotate-y='114.84513367007017' data-rotate-z='0' >
<h1>Space Vs. Time</h1>

<ul>
<li>extra model instances are used to support the bulk import</li>
</ul>
</div>
<div class='step' data-x='-1205.6766398274315' data-y='-20250.0' data-z='892.380994964838' data-scale='1' data-rotate-x='0' data-rotate-y='143.49302342661133' data-rotate-z='0' >
<h1>DeepImport* Models</h1>

<ul>
<li>for each ModelClass in the config file</li>
<li>setup creates a DeepImportModelClass</li>
<li>any time a ModelClass is instantiated

<ul>
<li>deep import creates a DeepImportModelClass</li>
</ul></li>
</ul>
</div>
<div class='step' data-x='-1485.9110335423056' data-y='-21000.0' data-z='205.1058273117504' data-scale='1' data-rotate-x='0' data-rotate-y='172.1409131831525' data-rotate-z='0' >
<h1>Association Tracking</h1>

<ul>
<li>whenever a belongs_to association method is called

<ul>
<li>the related DeepImportModelClass instance is updated</li>
<li>basically a shadow index of record associations</li>
</ul></li>
<li>after load of models to the database

<ul>
<li>associations on source models are set from deep import models</li>
<li>deep import models are then deleted</li>
</ul></li>
</ul>
</div>
<div class='step' data-x='-1402.3425832870246' data-y='-21750.0' data-z='-532.3864001830575' data-scale='1' data-rotate-x='0' data-rotate-y='159.21119706030635' data-rotate-z='0' >
<h1>Standard Active Record Runtime</h1>

<p>Each model created with: <strong>Model.new.save</strong></p>

<p>Causes 1 transaction with the database.
* 1 instance per transation
    * Parent.new.save
    * @parent.children.create</p>
</div>
<div class='step' data-x='-975.4317602356753' data-y='-22500.0' data-z='-1139.531869288232' data-scale='1' data-rotate-x='0' data-rotate-y='130.56330730376519' data-rotate-z='0' >
<h1>Active Record Import Runtime</h1>

<p><a href="https://github.com/zdennis/activerecord-import/wiki">activeRecord-import</a>:</b></p>

<ul>
<li>X instances per transaction for 1 model class</li>
<li>supports flat record formats</li>
<li>doesnt support 'nested data' well</li>
<li>helps power Deep Import, so much Thanks</li>
</ul>
</div>
</div>
